<nav id="navBar">
    <div id="navCol1">  
    </div>
    <div id="navCol2">
        <a href='/'>
            <img src="" alt="logo">
        </a>
    </div>
    <div id="navCol3">
        <% if (user) { %>
            <p>
                Welcome, <%= user.name %>
            </p>
            <form action="/contributors">
                <button type="submit">Contributors</button>
            </form>
            <form action="/contributors/<%= user._id %>">
                <button type="submit">My Work</button>
            </form>
            <form action="/logout">
                <button type="submit">Log Out</button>
            </form>
        <% } else { %>
            <form action="/contributors">
                <button type="submit">Contributors</button>
            </form>
            <form action="/auth/google">
                <button type="submit">Login</button>
            </form>
        <% } %>
    </div>
</nav>
<h1>
    <%= heading %>
</h1>