<nav id="navBar">
    <div id="navCol1">
        Put something here?
    </div>
    <div id="navCol2">
        <a href='/'>
            <img src="" alt="logo">
        </a>
    </div>
    <div id="navCol3">
        <form action="/contributors">
            <button type="submit" class="">Contributors</button>
        </form>
        <% if (user) { %>
            <p>
                Welcome, <%= user.name %>
            </p>
            <form action="/contributors/<%= user._id %>">
                <button type="submit" class="">My Work</button>
            </form>
            <form action="/logout">
                <button type="submit" class="loginout">Log Out</button>
            </form>
        <% } else { %>
            <form action="/auth/google">
                <button type="submit" class="loginout">Login</button>
            </form>
        <% } %>
    </div>
</nav>
<h1>
    <%= heading %>
</h1>