<h1>Glad to see you</h1>
<h2>Place all posts here</h2>
<% posts.forEach(function(p) { %>
    <div class="homePostFrame">
        <p>
            <%= p.contributor.name %>
        </p>
        <!--also add data about photo-->
        <br>
        <img src=<%= p.image %> alt="">
        <br>
        <form action="/home/<%= p._id %>" method="POST">
            <label for="eval">Grade</label>
            <input type="number" name="eval" min="1" max="5">
            <label for="commentary">Commentary</label>
            <input type="text" name="commentary">
            <button type="submit">Submit Feedback</button>
        </form>
    </div>
<% }); %>