<h2>Place the work of <%= heading %> here</h2>
<% if (user) { %>
    <form action="/contributors/<%= user._id %>/new">
        <button type="submit">New Post</button>
    </form>
<% } %> 
<div id="gallery">
    <% contribPosts.forEach(function(p) { %>
        <div class="profPostFrame">
            <img src=<%= p.image %> alt="">
        </div>
    <% }); %> 
</div>

