:root {
  --main-bg-color: black;
  --accent-color: #00FFDA;
  --light-text-color: white;
  --dark-text-color: black;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  margin: 0;
  background-color: var(--main-bg-color);
}
nav {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  background-color: var(--accent-color);
  height: 7.5vh;
  width: 100%;
  /* margin-bottom: 0; */
}
#navCol1, #navCol2, #navCol3 {
  display: flex;
  align-items: center;
}
#navCol2 {
  justify-content: center;
}
#navCol3 {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
button {
  border: 0;
  border-radius: 0;
  margin: 0;
  height: 5vh;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: var(--accent-color);
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  color: var(--light-text-color);
  background-color: var(--main-bg-color);
}
li {
  list-style: none;
}
p {
  color: black;
  margin-top: 0;
}
.homePostFrame, .profPostFrame {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 1200px;
}
.homePostFrame {
  background-color: var(--main-bg-color);
}
.profPostFrame {
  background-color: var(--accent-color);
}
.picRow {
  display: flex;
}
img {
  max-width: 100%;
}
.captionRow, .metaBlock, .feedbackBlock {
  padding: 0.5rem;
  border-radius: 0.75rem;
}
.feedbackBlock {
  background-color: var(--accent-color);
  margin-top: 0.5rem;
}
.captionRow, .metaBlock {
  background-color: white;
  margin-top: 0.5rem;
}
.picInfoRow {
  display: grid;
  grid-template-columns: 4fr 2fr;
}
.meta {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.metaBlock {
  margin-right: 0.5rem;
}
label {
  color: var(--dark-text-color);
}
select, textarea, .submit {
  background-color: var(--main-bg-color);
  color: var(--accent-color);
  width: 100%;
}
select {
  border: 0;
  border-radius: 0;
  margin: 0;
}
textarea {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}
.submit {
  margin-top: 0.5rem;
  margin-left: 0;
  background-color: var(--main-bg-color);
}
a {
  color: var(--dark-text-color);
  text-decoration: none;
}
.contribLink {
  color: var(--light-text-color);
}
input {
  border: 0;
  border-radius: 0;
  color: var(--accent-color);
  background-color: var(--main-bg-color);
}
.newPageInput {
  background-color: white;
  color: black;
}
.newPageText {
  color: var(--light-text-color);
}


