<div id="loadFrame"></div>
    <form action="/contributors/<%= contribId %>" method="POST">
        <!-- <div id="previewFrame">

        </div> -->
        <label for="imageLink">Image Link</label>
        <input type="text" name="image">
        <br>
        <button type="submit">Add</button>
    </form>
</div>
