<div class="frame"></div>
    <form action="/contributors/<%= contribId %>" method="POST">
        <label for="imageLink">Image Link</label>
        <input type="text" name="image">
        <br>
        <button type="submit" class="submit">Add</button>
    </form>
</div>
